.rise-enabled .jp-RenderedHTMLCommon { font-size: 14pt; }
#.rise-enabled .cm-editor { font-size: 1.5rem; }
#.rise-enabled .jp-OutputArea pre { font-size: 1.5rem; }
.reveal h1 {font-size: 40pt; color: #B51F1F;}
.reveal h2 {color: #B51F1F; text-transform: none;}